@mixin photo_block(){
    z-index: 1;
    width: 28%;
    //width: 33.33%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    @include box-shadow(0 0 20px rgba(0,0,0,0));
    @include transition(box-shadow 150ms ease-in-out);
    a{
        text-decoration: none;
    }
    .vote{
        top: 20px;
        left: 10px;
        z-index: 9;
        padding: 10px;
        cursor: pointer;
        position: absolute;
        .loading{
            display: none;
            position: relative;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            animation: loadingI 2s linear infinite;
            .bubble-1, .bubble-2{
                position: absolute;
                top: 0;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                background-color: $primary-color;
                animation: bounce 2s ease-in-out infinite;
            }
            .bubble-2{
                animation-delay: -1s;
                background: $dark-color;
            }

            @keyframes loadingI {
                100% {transform: rotate(360deg);}
            }

            @keyframes bounce  {
                0%, 100% {transform: scale(0.0);}
                50% {transform: scale(1.0);}
            }
        }
        span{
            color: #FFF;
            font-size: 20px;
            margin-right: 15px;
            display: inline-block;
            vertical-align: middle;
        }
        .vote-icon{
            width: 40px;
            height: 35px;
            padding: 20px;
            display: inline-block;
            vertical-align: middle;
            background: url("/assets/images/icons/love-normal.png") center center no-repeat;
            background-size: 100% auto;
        }

        &.loadingVote{
            .loading{
                display: inline-block;
            }
            .vote-icon{
                display: none;
            }
        }
        &:hover, &.active{
            .vote-icon{
                background-image: url("/assets/images/icons/love-active.png");
            }
        }
    }
    .byebye{
        top: -100%;
        left: -100%;
        position: absolute;
    }
    .author{
        bottom: 20px;
        z-index: 2;
        left: -100%;
        position: absolute;
        @include transition(left 300ms ease-in-out);
        p{
            color: #FFF;
            font-size: 1rem;
            padding: 12px 25px;
            background: $primary-color;
        }
    }
    .photo{
        width: 100%;
        display: block;
        overflow: hidden;
        position: relative;
        padding-bottom: 80%;
        text-decoration: none;
        background: center center no-repeat;
        background-size: cover;
        p{
            color: #FFF;
            bottom: 20px;
            right: -250px;
            display: inline;
            font-size: 1rem;
            max-width: 250px;
            text-align: right;
            position: absolute;
            padding: 12px 25px;
            background: $primary-color;
            //background: rgba(0, 0, 0, 0.2);
            @include transition(right 300ms ease-in-out);
            &:before{
                content: '';
            }
        }
    }
    &.amazon-iframe{
        width: 16%;
        iframe{
            margin: 0 auto;
            display: block;
        }
    }
    &.add{
        width: 100%;
        display: block;
        padding: 40px 0;
        &.leaderboard{
            .center{
                margin: 0 auto;
                display: inline-block;
                left: 50%;
                position: relative;
                @include transform(translateX(-50%));
            }
            span{
                width: 768px;
                height: 90px;
                display: block;
                margin: 0 auto;
                background: $dark-color;
            }
        }
    }
    &:hover{
        z-index: 2;
        @include box-shadow(0 0 20px rgba(0,0,0,1));
        &.add{
            @include box-shadow(0 0 0 rgba(0,0,0,0));
        }
        &.amazon-iframe{
            @include box-shadow(0 0 0 rgba(0,0,0,0));
        }
        a{
            p{
                right: 0;
            }
        }
        .author{
            left: 0;
        }
    }
}

.color-section{
    margin-top: 40px;
    text-align: center;
    p{
        font-size: 18px;
        line-height: 120%;
    }
    .title{
        font-size: 22px;
        margin-bottom: 7px;
        color: $dark-color;
    }
}

.color-container {
    width: 100%;
    height: 340px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    .color_picker_dialog {
        width: 100%;
        max-width: 800px;
        display: block;
        margin: 0 auto;
        border-radius: 4px;
        background: #3b3e3e;
        position: relative;
        padding: 20px;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: white;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .3);
        p {
            -webkit-user-select: none;
            pointer-events: none;
        }

        .hue_bar {
            background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
            background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
            width: 14px;
            height: 200px;
            //position: relative;
            display: inline-block;
            cursor: pointer;
            position: absolute;
            top: 20px;
            left: 20px;
            .hue_picker {
                position: absolute;
                left: 50%;
                border-radius: 50%;
                top: 0;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                height: 14px;
                width: 14px;
                border: 2px solid white;
                /*pointer-events: none;*/
                cursor: pointer;
                box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .3);
                background: hsl(0, 100%, 50%);
                &.active {
                    width: 18px;
                    height: 18px;
                }
            }
        }


        .sat_rect {
            //width: 100%;
            width: calc(100% - 20px);
            height: 200px;
            display: inline-block;
            margin: 0 8px 0 25px;
            background: hsl(0, 100%, 50%);
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            .sat_picker {
                position: absolute;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 12px;
                height: 12px;
                top: 0;
                left: 100%;
                border-radius: 50%;
                border: 2px solid white;
                z-index: 10;
                -webkit-transition: width .25s, height .25s;
                transition: width .25s, height .25s;
                background: hsl(0, 100%, 50%);
                box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .3);
                &.active {
                    width: 16px;
                    height: 16px;
                }
            }
            .black, .white {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            .white {
                background: -webkit-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
                background: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
            }
            .black {
                background: -webkit-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
                background: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
            }
        }
        .bottom {
            display: flex;
            align-items: center;
            margin-top: 12px;
            .color_preview {
                width: 30px;
                height: 30px;
                border-radius: 2px;
                background: hsl(0, 100%, 50%);
                display: inline-block;
            }
            input {
                margin-left: 10px;
                height: 28px;
                font-size: 20px;
                outline: none !important;
                width: 100px;
                border-radius: 2px;
                border: 0;
                padding: 0 4px;
            }
            .btn{
                right: 15px;
                bottom: 14px;
                position: absolute;
                //margin-left: 10px;
            }
            img {
                margin-left: 10px;
                height: 30px;
            }

            button:disabled,
            button[disabled]{
                opacity: 0.5;
            }

        }
    }
}


