@import 'compass/reset';
@import 'compass/css3';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Quicksand');

$primary-color: #ccbe97;
$secondary-color: #6abfa5;
$light-color: #f6f6f6;
$dark-color: #2f2f2f;
$height-header: 80px;

$font-1: 'Open Sans', sans-serif;
$font-2: 'Quicksand', sans-serif;

@import "elements";

html{
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

body{
    line-height: 130%;
    background: #f6f6f6;
    letter-spacing: 1px;
    font-family: $font-1;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    max-width: 1200px;
}
.half{
    width: 50%;
    float: left;
}

.add{
    width: 100%;
    padding: 40px 0;
    .center{
        margin: 0 auto;
        display: inline-block;
        left: 50%;
        position: relative;
        @include transform(translateX(-50%));
    }
    .leaderboard{
        height: 90px;
        width: 978px;
        display: block;
        margin: 0 auto;
        background: $dark-color;
    }
}


.btn{
    border: 0;
    color: #FFF;
    font-size: 18px;
    line-height: 110%;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    background: $primary-color;
}

.site{
    header{
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        width: 100%;
        position: fixed;
        color: #FFF;
        height: $height-header;
        background: $dark-color;
        @include box-shadow(0 0 10px rgba(0,0,0,0.9));
        .relative{
            padding: 0 20px;
            position: relative;
            height: $height-header;
            .logo{
                height: 100%;
                vertical-align: middle;
                display: inline-block;
                a{
                    height: 100%;
                    color: #FFF;
                    overflow: hidden;
                    padding-top: 5px;
                    display: inline-block;
                    text-decoration: none;
                    img{
                        height: 55%;
                        margin: 3.3% 10px 5.3%;
                        vertical-align: middle;
                        display: inline-block;
                    }
                    h1{
                        //top: -200px;
                        //left: -200px;
                        //position: absolute;
                        color: #FFF;
                        padding: 4px 0;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 140%;
                        display: inline-block;
                        font-family: $font-2;
                    }
                }
            }

            .popular{
                float: right;
                color: #FFF;
                margin-top: 25px;
                margin-right: 330px;
                padding: 5px 10px;
                vertical-align: middle;
                display: inline-block;
                position: relative;
                span{
                    display: block;
                    font-size: 22px;
                    position: relative;
                    small{
                        font-size: 12px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                ul{
                    display: none;
                    padding: 10px 0;
                    position: absolute;
                    li{
                        cursor: pointer;
                        padding: 5px 10px;
                        background-color: $dark-color;
                        span{
                            display: block;
                            line-height: 130%;
                            padding: 5px 10px;
                        }
                        &:hover{
                            background: #000;
                        }
                    }
                }
                &:hover{
                    ul{
                        display: block;
                    }
                }
            }


            form{
                top: 15px;
                right: 20px;
                font-size: 0;
                position: absolute;
                input, button{
                    margin: 0;
                    padding: 10px;
                    font-size: 18px;
                    border-radius: 0;
                    color: $light-color;
                    display: inline-block;
                    vertical-align: middle;
                    background: transparent;
                    border: 2px solid $light-color;
                }
                input{
                    outline: none;
                    color: $light-color;
                    &::-webkit-input-placeholder {
                        color: $light-color;
                    }
                    &::-moz-placeholder {
                        color: $light-color;
                    }
                    &:-ms-input-placeholder {
                        color: $light-color;
                    }
                    &:-moz-placeholder {
                        color: $light-color;
                    }
                }
                button{
                    color: #FFF;
                    background: $dark-color;
                }
            }
        }
    }
    .fake-header{
        width: 100%;
        height: $height-header;
    }

    .welcome{
        width: 100%;
        height: 500px;
        position: relative;
        background: url("/assets/images/welcome.jpg") center center no-repeat;
        background-size: cover;
        .vertical-align{
            top: 50%;
            z-index: 2;
            position: relative;
            @include transform(translateY(-50%));
            color: #FFF;
            h2{
                font-size: 65px;
                line-height: 120%;
                font-family: $font-2;
            }
            p{
                font-size: 32px;
                line-height: 120%;
                &.small{
                    font-size: 18px;
                }
            }


            form{
                margin-top: 30px;
                input, button{
                    margin: 0;
                    padding: 10px;
                    font-size: 18px;
                    border-radius: 0;
                    color: #FFF;
                    display: inline-block;
                    vertical-align: middle;
                    background: transparent;
                    border: 2px solid #FFF;
                }
                input{
                    outline: none;
                    color: #FFF;
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: #FFF;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        color: #FFF;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        color: #FFF;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        color: #FFF;
                    }
                }
                button{
                    color: #FFF;
                    //background: #FFF;
                }
            }
        }
        &:before{
            content: '';
            opacity: 0.5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            position: absolute;
            background: $dark-color;
        }
    }

    .categories{
        padding: 50px 0 0;
        h3{
            //padding-top: 30px;
            font-size: 30px;
            line-height: 120%;
            font-family: $font-2;
        }
        ul{
            margin-top: 30px;
            overflow: hidden;
            border: 2px solid $primary-color;
            li{
                float: left;
                width: 33.33%;
                cursor: pointer;
                span{
                    padding: 50px 0;
                    display: block;
                    font-size: 28px;
                    text-align: center;
                    position: relative;
                    color: $primary-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:before{
                        content: '';
                        width: 0;
                        left: 50%;
                        height: 2px;
                        bottom: 20px;
                        position: absolute;
                        background: $primary-color;
                        @include transform(translateX(-50%));
                        @include transition( width 300ms ease-out);
                    }
                }
                &:nth-of-type(2n+1){
                    background: $primary-color;
                    span{
                        color: #FFF;
                        &:before{
                            background: #FFF;
                        }
                    }
                }
                &:hover{
                    span{
                        &:before{
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}

.boxLoading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 50px;
    margin: auto;
    position: absolute;
    .textLoading{
        margin-top: 90px;
    }
    .block{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        margin: auto;
        position: absolute;
        &:before {
            content: '';
            width: 50px;
            height: 5px;
            background: #000;
            opacity: 0.1;
            position: absolute;
            top: 59px;
            left: 0;
            border-radius: 50%;
            animation: shadow .5s linear infinite;
        }
        &:after {
            content: '';
            width: 50px;
            height: 50px;
            background: $primary-color;
            animation: animate .5s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3px;
        }
    }
}

.resume-search{
    //color: #FFF;
    //background: $dark-color;
    padding: 80px 20px 40px;
    p{
        width: 100%;
        margin: 0 auto;
        display: block;
        font-size: 24px;
        strong{
            font-weight: 700;
            position: relative;
            text-transform: uppercase;
            &:before{
                content: '';
                left: 0;
                right: 0;
                height: 2px;
                bottom: -5px;
                position: absolute;
                background: $primary-color;
            }
        }
    }
}

.result-list{
    font-size: 0;
    li{
        @include photo_block();
    }
}
.color_photo_grid{
    font-size: 0;
    margin-top: 40px;
    .single{
        @include photo_block();
        width: 33.28%;
        .author{
            bottom: 20px; 
        }
        .photo{
            padding-bottom: 90%;
            p{
                bottom: 40px;
            }
        }
        .color_block{
            left: 0;
            right: 0;
            width: 100%;
            height: 40px;
            position: absolute;
            &.color_top{
                top: 0;
                span{
                    float: left;
                    height: 20px;
                    width: 12.5%;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    color: #FFF;
                }
            }
            &.color_bottom{
                bottom: 0;
                span{
                    color: #FFF;
                    margin: 9px auto;
                    display: block;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
}

.editorial{
    .head{
        background: #FFF;
        h2{
            margin: 0;
            font-size: 40px;
            padding: 100px 0 60px;
        }
    }
    .body{
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 800px;
        padding: 50px 0;
        p{
            margin-bottom: 20px;
            line-height: 120%;
            &.title{
                padding: 0.4rem 0;
                font-size: 140%;
            }

        }
    }
}

footer{
    color: #FFF;
    padding: 50px 0;
    background: $dark-color;
    a{
        color: #FFF;
    }
    p{
        line-height: 150%;
    }
}

.site{
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 101;
        color: #FFF;
        background: rgba(0,0,0,0.9);
        .close{
            top: 40px;
            right: 40px;
            color: #FFF;
            padding: 50px;
            cursor: pointer;
            font-weight: bold;
            font-size: 4rem;
            position: absolute;
        }
        .content{
            width: 960px;
            height: 500px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            color: $dark-color;
            position: absolute;
            background: $light-color;
            overflow: hidden;
            .meta, .image{
                width: 50%;
                height: 100%;
                float: left;
            }
            .image{
                background: center center no-repeat;
                background-size: cover;
            }
            .meta{
                overflow: auto;
                padding: 20px;
                .title{
                    font-size: 28px;
                    line-height: 120%;
                    margin-bottom: 10px;
                }
                .description{
                    opacity: 0.8;
                    font-size: 18px;
                    line-height: 120%;
                    margin-bottom: 10px;
                }
                hr{
                    border: 0;
                    width: 50%;
                    height: 1px;
                }
                .table{
                    margin-bottom: 20px;
                    span{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}


@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

@media screen and (max-width: 768px) {
    .site header .relative{
        padding: 0 15px;
        .logo{
            a{
                h1{
                    font-size: 18px;
                }
            }
        }
        .popular{
            display: none;
        }
    }
    .site header .relative form{
        position: relative;
        top: 0;
        left: 0;
    }
    .site header .relative form input, .site header .relative form button{
        padding: 5px 10px;
    }
    .site .categories ul li span{
        font-size: 18px;
    }
    .site .welcome .vertical-align h2{
        font-size: 50px;
        line-height: 110%;
    }
    .result-list li{
        width: 50%;
    }
    .resume-search{
        padding: 40px 15px;
        p{
            line-height: 120%;
        }
    }

    .site .overlay .content{
        width: 100%;
        height: 100%;

        max-width: 700px;
    }
}

@media screen and (max-width: 480px) {
    .result-list li{
        width: 100%;
    }
    footer{
        .half{
            float: none;
            width: 100%;
            margin-bottom: 20px;
            a{
                display: block;
            }
        }
    }
}

