@import url("https://fonts.googleapis.com/css?family=Fjalla+One:400,700|Quicksand");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../resources/assets/sass/_elements.scss */
.relative {
  position: relative;
}

/* line 5, ../../../resources/assets/sass/_elements.scss */
.margin-bottom-20 {
  margin-bottom: 20px !important;
}

/* line 9, ../../../resources/assets/sass/_elements.scss */
.subtitle {
  font-size: 1.8rem;
  line-height: 110%;
}

/* line 15, ../../../resources/assets/sass/_elements.scss */
hr.special {
  width: 30%;
  border: 0;
  height: 2px;
  display: block;
  max-width: 240px;
  margin: 40px auto;
  background: #b0a25f;
}

/* line 26, ../../../resources/assets/sass/_elements.scss */
.globalStyle {
  width: 100%;
}
/* line 28, ../../../resources/assets/sass/_elements.scss */
.globalStyle fieldset {
  margin-bottom: 10px;
}
/* line 30, ../../../resources/assets/sass/_elements.scss */
.globalStyle fieldset input, .globalStyle fieldset textarea {
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #ccbe97;
}

/* line 213, ../../../resources/assets/sass/_elements.scss */
.color-section {
  margin-top: 40px;
  text-align: center;
}
/* line 216, ../../../resources/assets/sass/_elements.scss */
.color-section p {
  font-size: 18px;
  line-height: 120%;
}
/* line 220, ../../../resources/assets/sass/_elements.scss */
.color-section .title {
  font-size: 22px;
  margin-bottom: 7px;
  color: #2f2f2f;
}

/* line 227, ../../../resources/assets/sass/_elements.scss */
.color-container {
  width: 100%;
  height: 340px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
/* line 241, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background: #3b3e3e;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 257, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog p {
  -webkit-user-select: none;
  pointer-events: none;
}
/* line 262, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .hue_bar {
  background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  width: 14px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 273, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .hue_bar .hue_picker {
  position: absolute;
  left: 50%;
  border-radius: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  border: 2px solid white;
  /*pointer-events: none;*/
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  background: red;
}
/* line 287, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .hue_bar .hue_picker.active {
  width: 18px;
  height: 18px;
}
/* line 295, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect {
  width: calc(100% - 20px);
  height: 200px;
  display: inline-block;
  margin: 0 8px 0 25px;
  background: red;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 308, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .sat_picker {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  top: 0;
  left: 100%;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 10;
  -webkit-transition: width .25s, height .25s;
  transition: width .25s, height .25s;
  background: red;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
/* line 323, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .sat_picker.active {
  width: 16px;
  height: 16px;
}
/* line 328, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .black, .color-container .color_picker_dialog .sat_rect .white {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 335, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .white {
  background: -webkit-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background: linear-gradient(to right, #ffffff, rgba(204, 154, 129, 0));
}
/* line 339, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .black {
  background: -webkit-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background: linear-gradient(to top, #000000, rgba(204, 154, 129, 0));
}
/* line 344, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
/* line 348, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom .color_preview {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background: red;
  display: inline-block;
}
/* line 355, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom input {
  margin-left: 10px;
  height: 28px;
  font-size: 20px;
  outline: none !important;
  width: 100px;
  border-radius: 2px;
  border: 0;
  padding: 0 4px;
}
/* line 365, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom .btn {
  right: 15px;
  bottom: 14px;
  position: absolute;
}
/* line 371, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom img {
  margin-left: 10px;
  height: 30px;
}
/* line 376, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom button:disabled,
.color-container .color_picker_dialog .bottom button[disabled] {
  opacity: 0.5;
}

/* line 20, ../../../resources/assets/sass/app.scss */
.hidden {
  display: none !important;
}

/* line 25, ../../../resources/assets/sass/app.scss */
html *, html *:before, html *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, ../../../resources/assets/sass/app.scss */
body {
  line-height: 130%;
  background: #f6f6f6;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
}
/* line 37, ../../../resources/assets/sass/app.scss */
body * {
  letter-spacing: 0.2px;
}

/* line 42, ../../../resources/assets/sass/app.scss */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  max-width: 1200px;
}
/* line 48, ../../../resources/assets/sass/app.scss */
.container .row {
  width: 100%;
  margin: 0 -15px;
  overflow: hidden;
}
/* line 52, ../../../resources/assets/sass/app.scss */
.container .row .col-md-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}
/* line 57, ../../../resources/assets/sass/app.scss */
.container .row .col-md-12 {
  width: 100%;
  float: none;
  padding: 0 15px;
}

/* line 64, ../../../resources/assets/sass/app.scss */
.half {
  width: 50%;
  float: left;
}

/* line 69, ../../../resources/assets/sass/app.scss */
.add {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
}
/* line 73, ../../../resources/assets/sass/app.scss */
.add .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 80, ../../../resources/assets/sass/app.scss */
.add .leaderboard {
  height: 90px;
  width: 978px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}

/* line 90, ../../../resources/assets/sass/app.scss */
.btn {
  border: 0;
  color: #FFF;
  font-size: 18px;
  line-height: 110%;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  background: #ccbe97;
}

/* line 102, ../../../resources/assets/sass/app.scss */
.site header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  position: fixed;
  color: #2f2f2f;
  height: 70px;
  background: #f6f6f6;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* line 123, ../../../resources/assets/sass/app.scss */
.site header .relative {
  width: 100%;
  padding: 0 10px;
  position: relative;
  height: 70px;
}
/* line 128, ../../../resources/assets/sass/app.scss */
.site header .relative .logo {
  height: 100%;
  padding: 8px 0;
  vertical-align: middle;
  display: inline-block;
}
/* line 133, ../../../resources/assets/sass/app.scss */
.site header .relative .logo a {
  width: 120px;
  height: 100%;
  color: #FFF;
  background: #eaeaea;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  background: center center no-repeat;
  background-size: cover;
}
/* line 143, ../../../resources/assets/sass/app.scss */
.site header .relative .logo a img {
  height: 55%;
  margin: 3.3% 10px 5.3%;
  vertical-align: middle;
  display: inline-block;
}
/* line 149, ../../../resources/assets/sass/app.scss */
.site header .relative .logo a h1 {
  top: -200px;
  left: -200px;
  position: absolute;
  color: #FFF;
  padding: 4px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}
/* line 164, ../../../resources/assets/sass/app.scss */
.site header .relative .middle {
  display: none;
}
/* line 166, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .about {
  float: right;
  color: #FFF;
  margin-top: 25px;
  margin-right: 330px;
  padding: 5px 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
/* line 175, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .about a {
  color: #FFF;
  display: block;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}
/* line 183, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .popular {
  float: right;
  color: #FFF;
  margin-top: 25px;
  margin-right: 330px;
  padding: 5px 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
/* line 192, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .popular span {
  display: block;
  font-size: 20px;
  position: relative;
}
/* line 196, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .popular span small {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
/* line 203, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .popular ul {
  display: none;
  padding: 10px 0;
  position: absolute;
}
/* line 207, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .popular ul li {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #2f2f2f;
}
/* line 211, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .popular ul li span {
  display: block;
  line-height: 130%;
  padding: 5px 10px;
}
/* line 216, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .popular ul li:hover {
  background: #000;
}
/* line 222, ../../../resources/assets/sass/app.scss */
.site header .relative .middle .popular:hover ul {
  display: block;
}
/* line 229, ../../../resources/assets/sass/app.scss */
.site header .relative .right {
  float: right;
  padding: 12px 0;
}
/* line 232, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user, .site header .relative .right .search {
  display: inline-block;
  vertical-align: middle;
}
/* line 236, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search {
  margin-right: 15px;
}
/* line 238, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search form {
  font-size: 0;
  border-radius: 40px;
  border: 1px solid #7d7d7d;
}
/* line 242, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search form input, .site header .relative .right .search form button {
  margin: 0;
  border: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 0;
  color: #7d7d7d;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
}
/* line 253, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search form input {
  outline: none;
  color: #7d7d7d;
}
/* line 256, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search form input::-webkit-input-placeholder {
  color: #7d7d7d;
}
/* line 259, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search form input::-moz-placeholder {
  color: #7d7d7d;
}
/* line 262, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search form input:-ms-input-placeholder {
  color: #7d7d7d;
}
/* line 265, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search form input:-moz-placeholder {
  color: #7d7d7d;
}
/* line 269, ../../../resources/assets/sass/app.scss */
.site header .relative .right .search form button {
  outline: none;
  color: #ccbe97;
  background: transparent;
}
/* line 277, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user .avatar {
  position: relative;
}
/* line 279, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user .avatar > a {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #ccbe97;
  background: #7d7d7d;
}
/* line 289, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user .avatar ul {
  display: none;
  right: 0;
  top: 30px;
  width: 100px;
  position: absolute;
}
/* line 295, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user .avatar ul li {
  width: 100%;
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
/* line 298, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user .avatar ul li a {
  width: 100%;
  padding: 8px;
  display: block;
  background: #f6f6f6;
  text-decoration: none;
  color: #ccbe97;
  border: 1px solid #f6f6f6;
}
/* line 310, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user .avatar:hover ul {
  display: block;
}
/* line 315, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user .login {
  display: inline-block;
  vertical-align: middle;
}
/* line 318, ../../../resources/assets/sass/app.scss */
.site header .relative .right .user .login .btn {
  cursor: pointer;
  color: #ccbe97;
  background: transparent;
}
/* line 329, ../../../resources/assets/sass/app.scss */
.site .fake-header {
  width: 100%;
  height: 70px;
}
/* line 334, ../../../resources/assets/sass/app.scss */
.site .welcome {
  width: 100%;
  height: 600px;
  position: relative;
  background: url("/assets/images/welcome.jpg") center center no-repeat;
  background-size: cover;
}
/* line 340, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align {
  top: 50%;
  z-index: 2;
  position: relative;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFF;
}
/* line 346, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align h2 {
  font-size: 65px;
  line-height: 120%;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 40px;
}
/* line 352, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align p {
  font-size: 32px;
  line-height: 120%;
}
/* line 355, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align p.small {
  font-size: 18px;
}
/* line 359, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form {
  margin-top: 30px;
}
/* line 361, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input, .site .welcome .vertical-align form button {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 0;
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #FFF;
}
/* line 372, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input {
  outline: none;
  color: #FFF;
}
/* line 375, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFF;
}
/* line 378, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
/* line 381, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #FFF;
}
/* line 384, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}
/* line 388, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form button {
  color: #FFF;
}
/* line 394, ../../../resources/assets/sass/app.scss */
.site .welcome:before {
  content: '';
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background: #2f2f2f;
}
/* line 407, ../../../resources/assets/sass/app.scss */
.site .categories {
  padding: 50px 0 0;
}
/* line 409, ../../../resources/assets/sass/app.scss */
.site .categories h3 {
  font-size: 30px;
  line-height: 120%;
  font-family: "Quicksand", sans-serif;
}
/* line 415, ../../../resources/assets/sass/app.scss */
.site .categories ul {
  margin-top: 30px;
  overflow: hidden;
  border: 2px solid #ccbe97;
}
/* line 419, ../../../resources/assets/sass/app.scss */
.site .categories ul li {
  float: left;
  width: 33.33%;
  cursor: pointer;
}
/* line 423, ../../../resources/assets/sass/app.scss */
.site .categories ul li span {
  padding: 50px 0;
  display: block;
  font-size: 28px;
  text-align: center;
  position: relative;
  color: #ccbe97;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 432, ../../../resources/assets/sass/app.scss */
.site .categories ul li span:before {
  content: '';
  width: 0;
  left: 50%;
  height: 2px;
  bottom: 20px;
  position: absolute;
  background: #ccbe97;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: width 300ms ease-out;
  -o-transition: width 300ms ease-out;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
}
/* line 444, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) {
  background: #ccbe97;
}
/* line 446, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) span {
  color: #FFF;
}
/* line 448, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) span:before {
  background: #FFF;
}
/* line 455, ../../../resources/assets/sass/app.scss */
.site .categories ul li:hover span:before {
  width: 40%;
}

/* line 465, ../../../resources/assets/sass/app.scss */
.boxLoading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 50px;
  margin: auto;
  position: absolute;
}
/* line 474, ../../../resources/assets/sass/app.scss */
.boxLoading .textLoading {
  margin-top: 90px;
}
/* line 477, ../../../resources/assets/sass/app.scss */
.boxLoading .block {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
}
/* line 486, ../../../resources/assets/sass/app.scss */
.boxLoading .block:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
/* line 498, ../../../resources/assets/sass/app.scss */
.boxLoading .block:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #ccbe97;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

/* line 512, ../../../resources/assets/sass/app.scss */
.resume-search {
  padding: 80px 20px 40px;
}
/* line 516, ../../../resources/assets/sass/app.scss */
.resume-search p {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 24px;
}
/* line 521, ../../../resources/assets/sass/app.scss */
.resume-search p strong {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
/* line 525, ../../../resources/assets/sass/app.scss */
.resume-search p strong:before {
  content: '';
  left: 0;
  right: 0;
  height: 2px;
  bottom: -5px;
  position: absolute;
  background: #ccbe97;
}

/* line 538, ../../../resources/assets/sass/app.scss */
.result-list {
  font-size: 0;
}
/* line 540, ../../../resources/assets/sass/app.scss */
.result-list li {
  z-index: 1;
  width: 28%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  -moz-box-shadow: 0 0 20px transparent;
  -webkit-box-shadow: 0 0 20px transparent;
  box-shadow: 0 0 20px transparent;
  -moz-transition: box-shadow 150ms ease-in-out;
  -o-transition: box-shadow 150ms ease-in-out;
  -webkit-transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
}
/* line 49, ../../../resources/assets/sass/_elements.scss */
.result-list li a {
  text-decoration: none;
}
/* line 52, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote {
  top: 20px;
  left: 10px;
  z-index: 9;
  padding: 10px;
  cursor: pointer;
  position: absolute;
}
/* line 59, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .loading {
  display: none;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  animation: loadingI 2s linear infinite;
}
/* line 66, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .loading .bubble-1, .result-list li .vote .loading .bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #ccbe97;
  animation: bounce 2s ease-in-out infinite;
}
/* line 75, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .loading .bubble-2 {
  animation-delay: -1s;
  background: #2f2f2f;
}
@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* line 89, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote span {
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 96, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .vote-icon {
  width: 40px;
  height: 35px;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("/assets/images/icons/love-normal.png") center center no-repeat;
  background-size: 100% auto;
}
/* line 107, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote.loadingVote .loading {
  display: inline-block;
}
/* line 110, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote.loadingVote .vote-icon {
  display: none;
}
/* line 115, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote:hover .vote-icon, .result-list li .vote.active .vote-icon {
  background-image: url("/assets/images/icons/love-active.png");
}
/* line 120, ../../../resources/assets/sass/_elements.scss */
.result-list li .byebye {
  top: -100%;
  left: -100%;
  position: absolute;
}
/* line 125, ../../../resources/assets/sass/_elements.scss */
.result-list li .author {
  bottom: 20px;
  z-index: 2;
  left: -100%;
  position: absolute;
  -moz-transition: left 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
  transition: left 300ms ease-in-out;
}
/* line 131, ../../../resources/assets/sass/_elements.scss */
.result-list li .author p {
  color: #FFF;
  font-size: 1rem;
  padding: 12px 25px;
  background: #ccbe97;
}
/* line 138, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
  text-decoration: none;
  background: center center no-repeat;
  background-size: cover;
}
/* line 147, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo p {
  color: #FFF;
  bottom: 20px;
  right: -250px;
  display: inline;
  font-size: 1rem;
  max-width: 250px;
  text-align: right;
  position: absolute;
  padding: 12px 25px;
  background: #ccbe97;
  -moz-transition: right 300ms ease-in-out;
  -o-transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
  transition: right 300ms ease-in-out;
}
/* line 160, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo p:before {
  content: '';
}
/* line 165, ../../../resources/assets/sass/_elements.scss */
.result-list li.amazon-iframe {
  width: 16%;
}
/* line 167, ../../../resources/assets/sass/_elements.scss */
.result-list li.amazon-iframe iframe {
  margin: 0 auto;
  display: block;
}
/* line 172, ../../../resources/assets/sass/_elements.scss */
.result-list li.add {
  width: 100%;
  display: block;
  padding: 40px 0;
}
/* line 177, ../../../resources/assets/sass/_elements.scss */
.result-list li.add.leaderboard .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 184, ../../../resources/assets/sass/_elements.scss */
.result-list li.add.leaderboard span {
  width: 768px;
  height: 90px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}
/* line 193, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover {
  z-index: 2;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}
/* line 196, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover.add {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 199, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover.amazon-iframe {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 203, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover a p {
  right: 0;
}
/* line 207, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover .author {
  left: 0;
}

/* line 549, ../../../resources/assets/sass/app.scss */
.color_photo_grid {
  font-size: 0;
  margin-top: 40px;
}
/* line 552, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single {
  z-index: 1;
  width: 28%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  -moz-box-shadow: 0 0 20px transparent;
  -webkit-box-shadow: 0 0 20px transparent;
  box-shadow: 0 0 20px transparent;
  -moz-transition: box-shadow 150ms ease-in-out;
  -o-transition: box-shadow 150ms ease-in-out;
  -webkit-transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
  width: 33.28%;
}
/* line 49, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single a {
  text-decoration: none;
}
/* line 52, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote {
  top: 20px;
  left: 10px;
  z-index: 9;
  padding: 10px;
  cursor: pointer;
  position: absolute;
}
/* line 59, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .loading {
  display: none;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  animation: loadingI 2s linear infinite;
}
/* line 66, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .loading .bubble-1, .color_photo_grid .single .vote .loading .bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #ccbe97;
  animation: bounce 2s ease-in-out infinite;
}
/* line 75, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .loading .bubble-2 {
  animation-delay: -1s;
  background: #2f2f2f;
}
@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* line 89, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote span {
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 96, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .vote-icon {
  width: 40px;
  height: 35px;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("/assets/images/icons/love-normal.png") center center no-repeat;
  background-size: 100% auto;
}
/* line 107, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote.loadingVote .loading {
  display: inline-block;
}
/* line 110, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote.loadingVote .vote-icon {
  display: none;
}
/* line 115, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote:hover .vote-icon, .color_photo_grid .single .vote.active .vote-icon {
  background-image: url("/assets/images/icons/love-active.png");
}
/* line 120, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .byebye {
  top: -100%;
  left: -100%;
  position: absolute;
}
/* line 125, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .author {
  bottom: 20px;
  z-index: 2;
  left: -100%;
  position: absolute;
  -moz-transition: left 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
  transition: left 300ms ease-in-out;
}
/* line 131, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .author p {
  color: #FFF;
  font-size: 1rem;
  padding: 12px 25px;
  background: #ccbe97;
}
/* line 138, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
  text-decoration: none;
  background: center center no-repeat;
  background-size: cover;
}
/* line 147, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo p {
  color: #FFF;
  bottom: 20px;
  right: -250px;
  display: inline;
  font-size: 1rem;
  max-width: 250px;
  text-align: right;
  position: absolute;
  padding: 12px 25px;
  background: #ccbe97;
  -moz-transition: right 300ms ease-in-out;
  -o-transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
  transition: right 300ms ease-in-out;
}
/* line 160, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo p:before {
  content: '';
}
/* line 165, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.amazon-iframe {
  width: 16%;
}
/* line 167, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.amazon-iframe iframe {
  margin: 0 auto;
  display: block;
}
/* line 172, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add {
  width: 100%;
  display: block;
  padding: 40px 0;
}
/* line 177, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add.leaderboard .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 184, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add.leaderboard span {
  width: 768px;
  height: 90px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}
/* line 193, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover {
  z-index: 2;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}
/* line 196, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover.add {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 199, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover.amazon-iframe {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 203, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover a p {
  right: 0;
}
/* line 207, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover .author {
  left: 0;
}
/* line 555, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .author {
  bottom: 40px;
}
/* line 558, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .photo {
  padding-bottom: 90%;
}
/* line 560, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .photo p {
  bottom: 40px;
}
/* line 564, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block {
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  position: absolute;
}
/* line 570, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block.color_top {
  top: 0;
}
/* line 572, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block.color_top span {
  float: left;
  height: 20px;
  width: 12.5%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
}
/* line 582, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block.color_bottom {
  bottom: 0;
}
/* line 584, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block.color_bottom span {
  color: #FFF;
  margin: 9px auto;
  display: block;
  font-size: 14px;
  text-align: center;
}
/* line 595, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single {
  width: 100%;
  box-shadow: 0 0 0 0;
}
/* line 599, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .photo-wrapper .photo {
  padding: 0;
}
/* line 601, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .photo-wrapper .photo img {
  width: 100%;
}
/* line 606, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .info {
  font-size: 16px;
  margin-top: 20px;
  position: relative;
}
/* line 610, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .info .title {
  font-size: 2.2rem;
  line-height: 120%;
  margin-bottom: 20px;
}
/* line 615, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .info .description {
  margin-bottom: 20px;
}
/* line 618, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .info .colors {
  font-size: 18px;
}
/* line 620, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .info .colors p {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
/* line 624, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .info .colors p span {
  display: inline-block;
  vertical-align: middle;
  position: static;
}
/* line 628, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .info .colors p span.color_block {
  width: 50px;
  height: 40px;
  margin-right: 5px;
}
/* line 637, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single .info .colors .average p span {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
/* line 649, ../../../resources/assets/sass/app.scss */
.color_photo_grid.single-grid .single:hover {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

/* line 657, ../../../resources/assets/sass/app.scss */
.editorial .head {
  background: #FFF;
}
/* line 659, ../../../resources/assets/sass/app.scss */
.editorial .head h2 {
  margin: 0;
  font-size: 40px;
  padding: 100px 0 60px;
}
/* line 665, ../../../resources/assets/sass/app.scss */
.editorial .body {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 800px;
  padding: 50px 0;
}
/* line 671, ../../../resources/assets/sass/app.scss */
.editorial .body p {
  margin-bottom: 20px;
  line-height: 120%;
}
/* line 674, ../../../resources/assets/sass/app.scss */
.editorial .body p.title {
  padding: 0.4rem 0;
  font-size: 140%;
}

/* line 683, ../../../resources/assets/sass/app.scss */
.global-style {
  text-align: left;
}
/* line 685, ../../../resources/assets/sass/app.scss */
.global-style li {
  position: relative;
  padding: 4px 0 4px 15px;
}
/* line 688, ../../../resources/assets/sass/app.scss */
.global-style li:before {
  content: '';
  left: 0;
  top: 10px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50px;
  background: #2f2f2f;
}

/* line 701, ../../../resources/assets/sass/app.scss */
.tuto-photo {
  height: 72px;
  display: block;
  margin-top: 5px;
}

/* line 707, ../../../resources/assets/sass/app.scss */
.how-it-works {
  padding: 70px 0 30px;
  text-align: center;
}
/* line 710, ../../../resources/assets/sass/app.scss */
.how-it-works .square {
  width: 100%;
  padding: 20px;
  display: block;
  margin: 0 auto;
  max-width: 450px;
  border: 5px solid #ccbe97;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
/* line 719, ../../../resources/assets/sass/app.scss */
.how-it-works .title {
  font-size: 32px;
  line-height: 110%;
  padding: 10px 0 30px;
  text-transform: uppercase;
}
/* line 725, ../../../resources/assets/sass/app.scss */
.how-it-works .description {
  width: 100%;
  display: block;
  padding: 0 15px;
  max-width: 400px;
  margin: 0 auto;
}
/* line 731, ../../../resources/assets/sass/app.scss */
.how-it-works .description p {
  margin-bottom: 20px;
}

/* line 738, ../../../resources/assets/sass/app.scss */
.searchByColor {
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  -moz-transition: box-shadow 200ms ease-out;
  -o-transition: box-shadow 200ms ease-out;
  -webkit-transition: box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out;
}
/* line 743, ../../../resources/assets/sass/app.scss */
.searchByColor:hover {
  z-index: 5;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

/* line 749, ../../../resources/assets/sass/app.scss */
.moreSearch {
  margin-top: 20px;
}
/* line 751, ../../../resources/assets/sass/app.scss */
.moreSearch button {
  margin: 0 auto;
  display: block;
}

/* line 756, ../../../resources/assets/sass/app.scss */
.error-search {
  margin: 50px 0 20px;
  text-align: center;
}
/* line 759, ../../../resources/assets/sass/app.scss */
.error-search p {
  margin: 0;
  font-size: 18px;
  line-height: 110%;
}

/* line 766, ../../../resources/assets/sass/app.scss */
footer {
  color: #FFF;
  padding: 50px 0;
  background: #2f2f2f;
}
/* line 770, ../../../resources/assets/sass/app.scss */
footer a {
  color: #FFF;
}
/* line 773, ../../../resources/assets/sass/app.scss */
footer p {
  line-height: 150%;
}

/* line 779, ../../../resources/assets/sass/app.scss */
.user .gallery-preview {
  overflow: auto;
}
/* line 781, ../../../resources/assets/sass/app.scss */
.user .gallery-preview ul {
  font-size: 0;
  white-space: nowrap;
}
/* line 784, ../../../resources/assets/sass/app.scss */
.user .gallery-preview ul li {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: #2f2f2f;
}
/* line 795, ../../../resources/assets/sass/app.scss */
.user.profile .user-pro {
  width: 100%;
  height: 24px;
  background: #ccb066;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ccb066 0%, #8c7c23 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ccb066 0%, #8c7c23 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ccb066 0%, #8c7c23 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb066', endColorstr='#8c7c23',GradientType=1 );
  /* IE6-9 */
}
/* line 804, ../../../resources/assets/sass/app.scss */
.user.profile .user-pro p {
  margin: 0;
  color: #FFF;
  text-align: right;
  padding: 2px 5px 2px 0;
}
/* line 811, ../../../resources/assets/sass/app.scss */
.user.profile .meta {
  padding: 40px 0;
  position: relative;
}
/* line 814, ../../../resources/assets/sass/app.scss */
.user.profile .meta h4 {
  font-size: 2rem;
  line-height: 100%;
}
/* line 819, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .avatar {
  top: 0;
  left: 0;
  width: 200px;
  height: 250px;
  position: absolute;
}
/* line 825, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .avatar .avatar-zone {
  width: 200px;
  height: 250px;
  position: relative;
}
/* line 829, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .avatar .avatar-zone .background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: center center no-repeat;
  background-size: cover;
}
/* line 840, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text {
  position: relative;
  padding-left: 240px;
}
/* line 843, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text h2 {
  line-height: 120%;
  font-size: 3.5rem;
  position: relative;
  padding-bottom: 20px;
}
/* line 848, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text h2:before {
  content: '';
  left: 0;
  bottom: 10px;
  width: 15%;
  height: 4px;
  position: absolute;
  background: #ccbe97;
}
/* line 858, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text .username {
  opacity: 0.8;
  line-height: 120%;
  font-size: 2.5rem;
}
/* line 863, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text .description {
  margin: 20px 0;
  background: #FFF;
  padding: 30px 40px;
}
/* line 868, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text .location {
  font-size: 1.3rem;
  line-height: 110%;
}
/* line 873, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text .numbers {
  right: 0;
  top: 15px;
  position: absolute;
}
/* line 877, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text .numbers .block {
  font-size: 14px;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
/* line 883, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text .numbers .block strong {
  display: block;
  font-size: 20px;
}
/* line 887, ../../../resources/assets/sass/app.scss */
.user.profile .meta .head .text .numbers .block:first-of-type {
  margin-left: 0;
}

/* line 898, ../../../resources/assets/sass/app.scss */
.single-gallery {
  width: 100%;
  position: relative;
}
/* line 901, ../../../resources/assets/sass/app.scss */
.single-gallery .preview {
  width: 100%;
  height: 250px;
  position: relative;
  background: #2f2f2f;
}
/* line 906, ../../../resources/assets/sass/app.scss */
.single-gallery .preview .image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: center center no-repeat;
  background-size: cover;
}
/* line 916, ../../../resources/assets/sass/app.scss */
.single-gallery .name {
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
/* line 918, ../../../resources/assets/sass/app.scss */
.single-gallery .name p {
  margin: 0;
  font-size: 2rem;
  line-height: 110%;
  position: relative;
  padding: 15px 30px;
  display: inline-block;
  background: #f6f6f6;
}
/* line 927, ../../../resources/assets/sass/app.scss */
.single-gallery .name span {
  margin-left: 15px;
}
/* line 931, ../../../resources/assets/sass/app.scss */
.single-gallery .add {
  width: 100%;
  height: 250px;
  background: #2f2f2f;
}
/* line 935, ../../../resources/assets/sass/app.scss */
.single-gallery .add .msg {
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 943, ../../../resources/assets/sass/app.scss */
.single-gallery .add .msg .btn {
  cursor: pointer;
  color: #ccbe97;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid #ccbe97;
}
/* line 949, ../../../resources/assets/sass/app.scss */
.single-gallery .add .msg .btn:hover {
  color: #FFF;
  background: #ccbe97;
}
/* line 954, ../../../resources/assets/sass/app.scss */
.single-gallery .add .msg.byebye {
  opacity: 0;
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  pointer-events: none;
}
/* line 960, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  opacity: 1;
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 973, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create .globalStyle fieldset {
  overflow: hidden;
}
/* line 975, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create .globalStyle fieldset input, .single-gallery .add .create .globalStyle fieldset textarea {
  font-size: 1rem;
  color: #ccbe97;
  outline: none;
}
/* line 979, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create .globalStyle fieldset input::-webkit-input-placeholder, .single-gallery .add .create .globalStyle fieldset textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccbe97;
}
/* line 982, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create .globalStyle fieldset input::-moz-placeholder, .single-gallery .add .create .globalStyle fieldset textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccbe97;
}
/* line 985, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create .globalStyle fieldset input:-ms-input-placeholder, .single-gallery .add .create .globalStyle fieldset textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccbe97;
}
/* line 988, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create .globalStyle fieldset input:-moz-placeholder, .single-gallery .add .create .globalStyle fieldset textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #ccbe97;
}
/* line 992, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create .globalStyle fieldset button {
  float: right;
  color: #FFF;
  border: 0;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #ccbe97;
}
/* line 1002, ../../../resources/assets/sass/app.scss */
.single-gallery .add .create.byebye {
  opacity: 0;
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  pointer-events: none;
}

/* line 1013, ../../../resources/assets/sass/app.scss */
.site .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  color: #FFF;
  background: rgba(0, 0, 0, 0.9);
}
/* line 1022, ../../../resources/assets/sass/app.scss */
.site .overlay .close {
  top: 40px;
  right: 40px;
  color: #FFF;
  padding: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 4rem;
  position: absolute;
}
/* line 1032, ../../../resources/assets/sass/app.scss */
.site .overlay .content {
  width: 960px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #2f2f2f;
  position: absolute;
  background: #f6f6f6;
  overflow: hidden;
}
/* line 1044, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta, .site .overlay .content .image {
  width: 50%;
  height: 100%;
  float: left;
}
/* line 1049, ../../../resources/assets/sass/app.scss */
.site .overlay .content .image {
  background: center center no-repeat;
  background-size: cover;
}
/* line 1053, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta {
  overflow: auto;
  padding: 20px;
}
/* line 1056, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .title {
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 10px;
}
/* line 1061, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .description {
  opacity: 0.8;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}
/* line 1067, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta hr {
  border: 0;
  width: 50%;
  height: 1px;
}
/* line 1072, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .table {
  margin-bottom: 20px;
}
/* line 1074, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .table span {
  font-weight: bold;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@media screen and (max-width: 991px) {
  /* line 1115, ../../../resources/assets/sass/app.scss */
  .container .row {
    margin: 0;
  }
  /* line 1117, ../../../resources/assets/sass/app.scss */
  .container .row .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 1123, ../../../resources/assets/sass/app.scss */
  .site header .relative {
    padding: 0 15px;
  }
  /* line 1127, ../../../resources/assets/sass/app.scss */
  .site header .relative .logo a img {
    margin-top: 12px;
  }
  /* line 1130, ../../../resources/assets/sass/app.scss */
  .site header .relative .logo a h1 {
    display: none;
  }
  /* line 1136, ../../../resources/assets/sass/app.scss */
  .site header .relative .popular, .site header .relative .about {
    display: none;
  }

  /* line 1140, ../../../resources/assets/sass/app.scss */
  .site header .relative form {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  /* line 1144, ../../../resources/assets/sass/app.scss */
  .site header .relative form input {
    width: 150px;
  }

  /* line 1148, ../../../resources/assets/sass/app.scss */
  .site header .relative form input, .site header .relative form button {
    padding: 5px 10px;
  }

  /* line 1151, ../../../resources/assets/sass/app.scss */
  .site .categories ul li span {
    font-size: 18px;
  }

  /* line 1154, ../../../resources/assets/sass/app.scss */
  .site .welcome .vertical-align h2 {
    font-size: 50px;
    line-height: 110%;
  }

  /* line 1158, ../../../resources/assets/sass/app.scss */
  .result-list li {
    width: 50%;
  }
  /* line 1160, ../../../resources/assets/sass/app.scss */
  .result-list li.amazon-iframe {
    width: 100%;
    padding: 15px 0;
  }

  /* line 1165, ../../../resources/assets/sass/app.scss */
  .resume-search {
    padding: 40px 15px;
  }
  /* line 1167, ../../../resources/assets/sass/app.scss */
  .resume-search p {
    line-height: 120%;
  }

  /* line 1172, ../../../resources/assets/sass/app.scss */
  .site .welcome {
    height: auto;
    padding: 20px 0;
  }
  /* line 1175, ../../../resources/assets/sass/app.scss */
  .site .welcome .vertical-align {
    top: 0;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  /* line 1178, ../../../resources/assets/sass/app.scss */
  .site .welcome .vertical-align h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  /* line 1185, ../../../resources/assets/sass/app.scss */
  .site .overlay .content {
    width: 100%;
    height: 100%;
    max-width: 700px;
  }

  /* line 1191, ../../../resources/assets/sass/app.scss */
  .how-it-works .square {
    padding: 15px;
  }

  /* line 1195, ../../../resources/assets/sass/app.scss */
  .color_photo_grid .single {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 1201, ../../../resources/assets/sass/app.scss */
  .result-list li {
    width: 100%;
  }

  /* line 1205, ../../../resources/assets/sass/app.scss */
  footer .half {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 1209, ../../../resources/assets/sass/app.scss */
  footer .half a {
    display: block;
  }
}
