@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Quicksand");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../resources/assets/sass/app.scss */
html *, html *:before, html *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../../../resources/assets/sass/app.scss */
body {
  line-height: 130%;
  background: #f6f6f6;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

/* line 31, ../../../resources/assets/sass/app.scss */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  max-width: 1200px;
}

/* line 38, ../../../resources/assets/sass/app.scss */
.half {
  width: 50%;
  float: left;
}

/* line 43, ../../../resources/assets/sass/app.scss */
.add {
  width: 100%;
  padding: 40px 0;
}
/* line 46, ../../../resources/assets/sass/app.scss */
.add .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 53, ../../../resources/assets/sass/app.scss */
.add .leaderboard {
  height: 90px;
  width: 978px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}

/* line 63, ../../../resources/assets/sass/app.scss */
.btn {
  border: 0;
  color: #FFF;
  font-size: 18px;
  line-height: 110%;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  background: #ccbe97;
}

/* line 75, ../../../resources/assets/sass/app.scss */
.site header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  position: fixed;
  color: #FFF;
  height: 80px;
  background: #2f2f2f;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
/* line 86, ../../../resources/assets/sass/app.scss */
.site header .relative {
  padding: 0 20px;
  position: relative;
  height: 80px;
}
/* line 90, ../../../resources/assets/sass/app.scss */
.site header .relative .logo {
  vertical-align: middle;
  display: inline-block;
}
/* line 93, ../../../resources/assets/sass/app.scss */
.site header .relative .logo a {
  overflow: hidden;
  color: #FFF;
  padding-top: 5px;
  display: inline-block;
  text-decoration: none;
}
/* line 103, ../../../resources/assets/sass/app.scss */
.site header .relative .logo a h1 {
  color: #FFF;
  padding: 4px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}
/* line 118, ../../../resources/assets/sass/app.scss */
.site header .relative .popular {
  float: right;
  color: #FFF;
  margin-top: 25px;
  margin-right: 330px;
  padding: 5px 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
/* line 127, ../../../resources/assets/sass/app.scss */
.site header .relative .popular span {
  display: block;
  font-size: 22px;
  position: relative;
}
/* line 131, ../../../resources/assets/sass/app.scss */
.site header .relative .popular span small {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
/* line 138, ../../../resources/assets/sass/app.scss */
.site header .relative .popular ul {
  display: none;
  padding: 10px 0;
  position: absolute;
}
/* line 142, ../../../resources/assets/sass/app.scss */
.site header .relative .popular ul li {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #2f2f2f;
}
/* line 146, ../../../resources/assets/sass/app.scss */
.site header .relative .popular ul li span {
  display: block;
  line-height: 130%;
  padding: 5px 10px;
}
/* line 151, ../../../resources/assets/sass/app.scss */
.site header .relative .popular ul li:hover {
  background: #000;
}
/* line 157, ../../../resources/assets/sass/app.scss */
.site header .relative .popular:hover ul {
  display: block;
}
/* line 164, ../../../resources/assets/sass/app.scss */
.site header .relative form {
  top: 15px;
  right: 20px;
  font-size: 0;
  position: absolute;
}
/* line 169, ../../../resources/assets/sass/app.scss */
.site header .relative form input, .site header .relative form button {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 0;
  color: #f6f6f6;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #f6f6f6;
}
/* line 180, ../../../resources/assets/sass/app.scss */
.site header .relative form input {
  outline: none;
  color: #f6f6f6;
}
/* line 183, ../../../resources/assets/sass/app.scss */
.site header .relative form input::-webkit-input-placeholder {
  color: #f6f6f6;
}
/* line 186, ../../../resources/assets/sass/app.scss */
.site header .relative form input::-moz-placeholder {
  color: #f6f6f6;
}
/* line 189, ../../../resources/assets/sass/app.scss */
.site header .relative form input:-ms-input-placeholder {
  color: #f6f6f6;
}
/* line 192, ../../../resources/assets/sass/app.scss */
.site header .relative form input:-moz-placeholder {
  color: #f6f6f6;
}
/* line 196, ../../../resources/assets/sass/app.scss */
.site header .relative form button {
  color: #FFF;
  background: #2f2f2f;
}
/* line 203, ../../../resources/assets/sass/app.scss */
.site .fake-header {
  width: 100%;
  height: 80px;
}
/* line 208, ../../../resources/assets/sass/app.scss */
.site .welcome {
  width: 100%;
  height: 500px;
  position: relative;
  background: url("/assets/images/welcome.jpg") center center no-repeat;
  background-size: cover;
}
/* line 214, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align {
  top: 50%;
  z-index: 2;
  position: relative;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFF;
}
/* line 220, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align h2 {
  font-size: 65px;
  line-height: 120%;
  font-family: "Quicksand", sans-serif;
}
/* line 225, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align p {
  font-size: 32px;
  line-height: 120%;
}
/* line 228, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align p.small {
  font-size: 18px;
}
/* line 234, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form {
  margin-top: 30px;
}
/* line 236, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input, .site .welcome .vertical-align form button {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 0;
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #FFF;
}
/* line 247, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input {
  outline: none;
  color: #FFF;
}
/* line 250, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFF;
}
/* line 253, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
/* line 256, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #FFF;
}
/* line 259, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}
/* line 263, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form button {
  color: #FFF;
}
/* line 269, ../../../resources/assets/sass/app.scss */
.site .welcome:before {
  content: '';
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background: #2f2f2f;
}
/* line 282, ../../../resources/assets/sass/app.scss */
.site .categories {
  padding: 50px 0 0;
}
/* line 284, ../../../resources/assets/sass/app.scss */
.site .categories h3 {
  font-size: 30px;
  line-height: 120%;
  font-family: "Quicksand", sans-serif;
}
/* line 290, ../../../resources/assets/sass/app.scss */
.site .categories ul {
  margin-top: 30px;
  overflow: hidden;
  border: 2px solid #ccbe97;
}
/* line 294, ../../../resources/assets/sass/app.scss */
.site .categories ul li {
  float: left;
  width: 33.33%;
  cursor: pointer;
}
/* line 298, ../../../resources/assets/sass/app.scss */
.site .categories ul li span {
  padding: 50px 0;
  display: block;
  font-size: 28px;
  text-align: center;
  position: relative;
  color: #ccbe97;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 307, ../../../resources/assets/sass/app.scss */
.site .categories ul li span:before {
  content: '';
  width: 0;
  left: 50%;
  height: 2px;
  bottom: 20px;
  position: absolute;
  background: #ccbe97;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: width 300ms ease-out;
  -o-transition: width 300ms ease-out;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
}
/* line 319, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) {
  background: #ccbe97;
}
/* line 321, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) span {
  color: #FFF;
}
/* line 323, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) span:before {
  background: #FFF;
}
/* line 330, ../../../resources/assets/sass/app.scss */
.site .categories ul li:hover span:before {
  width: 40%;
}

/* line 340, ../../../resources/assets/sass/app.scss */
.boxLoading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 50px;
  margin: auto;
  position: absolute;
}
/* line 349, ../../../resources/assets/sass/app.scss */
.boxLoading .textLoading {
  margin-top: 90px;
}
/* line 352, ../../../resources/assets/sass/app.scss */
.boxLoading .block {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
}
/* line 361, ../../../resources/assets/sass/app.scss */
.boxLoading .block:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
/* line 373, ../../../resources/assets/sass/app.scss */
.boxLoading .block:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #ccbe97;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

/* line 387, ../../../resources/assets/sass/app.scss */
.resume-search {
  padding: 80px 20px 40px;
}
/* line 391, ../../../resources/assets/sass/app.scss */
.resume-search p {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 24px;
}
/* line 396, ../../../resources/assets/sass/app.scss */
.resume-search p strong {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
/* line 400, ../../../resources/assets/sass/app.scss */
.resume-search p strong:before {
  content: '';
  left: 0;
  right: 0;
  height: 2px;
  bottom: -5px;
  position: absolute;
  background: #ccbe97;
}

/* line 413, ../../../resources/assets/sass/app.scss */
.result-list {
  font-size: 0;
}
/* line 415, ../../../resources/assets/sass/app.scss */
.result-list li {
  z-index: 1;
  width: 28%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  -moz-box-shadow: 0 0 20px transparent;
  -webkit-box-shadow: 0 0 20px transparent;
  box-shadow: 0 0 20px transparent;
  -moz-transition: box-shadow 150ms ease-in-out;
  -o-transition: box-shadow 150ms ease-in-out;
  -webkit-transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
}
/* line 11, ../../../resources/assets/sass/_elements.scss */
.result-list li a {
  text-decoration: none;
}
/* line 14, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote {
  top: 10px;
  left: 10px;
  z-index: 9;
  padding: 10px;
  cursor: pointer;
  position: absolute;
}
/* line 21, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote span {
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 28, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .vote-icon {
  width: 40px;
  height: 35px;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("/assets/images/icons/love-normal.png") center center no-repeat;
  background-size: 100% auto;
}
/* line 38, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote:hover .vote-icon, .result-list li .vote.active .vote-icon {
  background-image: url("/assets/images/icons/love-active.png");
}
/* line 43, ../../../resources/assets/sass/_elements.scss */
.result-list li .byebye {
  top: -100%;
  left: -100%;
  position: absolute;
}
/* line 48, ../../../resources/assets/sass/_elements.scss */
.result-list li .author {
  bottom: 0;
  z-index: 2;
  left: -100%;
  position: absolute;
  -moz-transition: left 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
  transition: left 300ms ease-in-out;
}
/* line 54, ../../../resources/assets/sass/_elements.scss */
.result-list li .author p {
  color: #FFF;
  font-size: 1rem;
  padding: 12px 25px;
  background: #ccbe97;
}
/* line 61, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
  text-decoration: none;
  background: center center no-repeat;
  background-size: cover;
}
/* line 70, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo p {
  right: -250px;
  bottom: 0;
  color: #FFF;
  display: inline;
  font-size: 1rem;
  max-width: 250px;
  text-align: right;
  position: absolute;
  padding: 12px 25px;
  background: #ccbe97;
  -moz-transition: right 300ms ease-in-out;
  -o-transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
  transition: right 300ms ease-in-out;
}
/* line 83, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo p:before {
  content: '';
}
/* line 88, ../../../resources/assets/sass/_elements.scss */
.result-list li.amazon-iframe {
  width: 16%;
}
/* line 90, ../../../resources/assets/sass/_elements.scss */
.result-list li.amazon-iframe iframe {
  margin: 0 auto;
  display: block;
}
/* line 95, ../../../resources/assets/sass/_elements.scss */
.result-list li.add {
  width: 100%;
  display: block;
  padding: 40px 0;
}
/* line 100, ../../../resources/assets/sass/_elements.scss */
.result-list li.add.leaderboard .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 107, ../../../resources/assets/sass/_elements.scss */
.result-list li.add.leaderboard span {
  width: 768px;
  height: 90px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}
/* line 116, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover {
  z-index: 2;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
/* line 119, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover.add {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 122, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover.amazon-iframe {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 126, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover a p {
  right: 0;
}
/* line 130, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover .author {
  left: 0;
}

/* line 419, ../../../resources/assets/sass/app.scss */
.color_photo_grid {
  font-size: 0;
  margin-top: 40px;
}
/* line 422, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single {
  z-index: 1;
  width: 28%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  -moz-box-shadow: 0 0 20px transparent;
  -webkit-box-shadow: 0 0 20px transparent;
  box-shadow: 0 0 20px transparent;
  -moz-transition: box-shadow 150ms ease-in-out;
  -o-transition: box-shadow 150ms ease-in-out;
  -webkit-transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
  width: 33.28%;
}
/* line 11, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single a {
  text-decoration: none;
}
/* line 14, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote {
  top: 10px;
  left: 10px;
  z-index: 9;
  padding: 10px;
  cursor: pointer;
  position: absolute;
}
/* line 21, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote span {
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 28, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .vote-icon {
  width: 40px;
  height: 35px;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("/assets/images/icons/love-normal.png") center center no-repeat;
  background-size: 100% auto;
}
/* line 38, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote:hover .vote-icon, .color_photo_grid .single .vote.active .vote-icon {
  background-image: url("/assets/images/icons/love-active.png");
}
/* line 43, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .byebye {
  top: -100%;
  left: -100%;
  position: absolute;
}
/* line 48, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .author {
  bottom: 0;
  z-index: 2;
  left: -100%;
  position: absolute;
  -moz-transition: left 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
  transition: left 300ms ease-in-out;
}
/* line 54, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .author p {
  color: #FFF;
  font-size: 1rem;
  padding: 12px 25px;
  background: #ccbe97;
}
/* line 61, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
  text-decoration: none;
  background: center center no-repeat;
  background-size: cover;
}
/* line 70, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo p {
  right: -250px;
  bottom: 0;
  color: #FFF;
  display: inline;
  font-size: 1rem;
  max-width: 250px;
  text-align: right;
  position: absolute;
  padding: 12px 25px;
  background: #ccbe97;
  -moz-transition: right 300ms ease-in-out;
  -o-transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
  transition: right 300ms ease-in-out;
}
/* line 83, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo p:before {
  content: '';
}
/* line 88, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.amazon-iframe {
  width: 16%;
}
/* line 90, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.amazon-iframe iframe {
  margin: 0 auto;
  display: block;
}
/* line 95, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add {
  width: 100%;
  display: block;
  padding: 40px 0;
}
/* line 100, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add.leaderboard .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 107, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add.leaderboard span {
  width: 768px;
  height: 90px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}
/* line 116, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover {
  z-index: 2;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
/* line 119, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover.add {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 122, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover.amazon-iframe {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 126, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover a p {
  right: 0;
}
/* line 130, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover .author {
  left: 0;
}

/* line 429, ../../../resources/assets/sass/app.scss */
.editorial .head {
  background: #FFF;
}
/* line 431, ../../../resources/assets/sass/app.scss */
.editorial .head h2 {
  margin: 0;
  font-size: 40px;
  padding: 100px 0 60px;
}
/* line 437, ../../../resources/assets/sass/app.scss */
.editorial .body {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 800px;
  padding: 50px 0;
}
/* line 443, ../../../resources/assets/sass/app.scss */
.editorial .body p {
  margin-bottom: 20px;
  line-height: 120%;
}
/* line 446, ../../../resources/assets/sass/app.scss */
.editorial .body p.title {
  padding: 0.4rem 0;
  font-size: 140%;
}

/* line 455, ../../../resources/assets/sass/app.scss */
footer {
  color: #FFF;
  padding: 50px 0;
  background: #2f2f2f;
}
/* line 459, ../../../resources/assets/sass/app.scss */
footer a {
  color: #FFF;
}
/* line 462, ../../../resources/assets/sass/app.scss */
footer p {
  line-height: 150%;
}

/* line 468, ../../../resources/assets/sass/app.scss */
.site .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  color: #FFF;
  background: rgba(0, 0, 0, 0.9);
}
/* line 477, ../../../resources/assets/sass/app.scss */
.site .overlay .close {
  top: 40px;
  right: 40px;
  color: #FFF;
  padding: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 4rem;
  position: absolute;
}
/* line 487, ../../../resources/assets/sass/app.scss */
.site .overlay .content {
  width: 960px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #2f2f2f;
  position: absolute;
  background: #f6f6f6;
  overflow: hidden;
}
/* line 499, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta, .site .overlay .content .image {
  width: 50%;
  height: 100%;
  float: left;
}
/* line 504, ../../../resources/assets/sass/app.scss */
.site .overlay .content .image {
  background: center center no-repeat;
  background-size: cover;
}
/* line 508, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta {
  overflow: auto;
  padding: 20px;
}
/* line 511, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .title {
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 10px;
}
/* line 516, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .description {
  opacity: 0.8;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}
/* line 522, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta hr {
  border: 0;
  width: 50%;
  height: 1px;
}
/* line 527, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .table {
  margin-bottom: 20px;
}
/* line 529, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .table span {
  font-weight: bold;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@media screen and (max-width: 768px) {
  /* line 568, ../../../resources/assets/sass/app.scss */
  .site header .relative {
    padding: 0 15px;
  }
  /* line 572, ../../../resources/assets/sass/app.scss */
  .site header .relative .logo a h1 {
    font-size: 18px;
  }
  /* line 577, ../../../resources/assets/sass/app.scss */
  .site header .relative .popular {
    display: none;
  }

  /* line 581, ../../../resources/assets/sass/app.scss */
  .site header .relative form {
    position: relative;
    top: 0;
    left: 0;
  }

  /* line 586, ../../../resources/assets/sass/app.scss */
  .site header .relative form input, .site header .relative form button {
    padding: 5px 10px;
  }

  /* line 589, ../../../resources/assets/sass/app.scss */
  .site .categories ul li span {
    font-size: 18px;
  }

  /* line 592, ../../../resources/assets/sass/app.scss */
  .site .welcome .vertical-align h2 {
    font-size: 50px;
    line-height: 110%;
  }

  /* line 596, ../../../resources/assets/sass/app.scss */
  .result-list li {
    width: 50%;
  }

  /* line 599, ../../../resources/assets/sass/app.scss */
  .resume-search {
    padding: 40px 15px;
  }
  /* line 601, ../../../resources/assets/sass/app.scss */
  .resume-search p {
    line-height: 120%;
  }

  /* line 606, ../../../resources/assets/sass/app.scss */
  .site .overlay .content {
    width: 100%;
    height: 100%;
    max-width: 700px;
  }
}
@media screen and (max-width: 480px) {
  /* line 615, ../../../resources/assets/sass/app.scss */
  .result-list li {
    width: 100%;
  }

  /* line 619, ../../../resources/assets/sass/app.scss */
  footer .half {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 623, ../../../resources/assets/sass/app.scss */
  footer .half a {
    display: block;
  }
}
