@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Quicksand");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 175, ../../../resources/assets/sass/_elements.scss */
.color-section {
  margin-top: 40px;
  text-align: center;
}
/* line 178, ../../../resources/assets/sass/_elements.scss */
.color-section p {
  font-size: 18px;
  line-height: 120%;
}
/* line 182, ../../../resources/assets/sass/_elements.scss */
.color-section .title {
  font-size: 22px;
  margin-bottom: 7px;
  color: #2f2f2f;
}

/* line 189, ../../../resources/assets/sass/_elements.scss */
.color-container {
  width: 100%;
  height: 340px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
/* line 203, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background: #3b3e3e;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 219, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog p {
  -webkit-user-select: none;
  pointer-events: none;
}
/* line 224, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .hue_bar {
  background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  width: 14px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 235, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .hue_bar .hue_picker {
  position: absolute;
  left: 50%;
  border-radius: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  border: 2px solid white;
  /*pointer-events: none;*/
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  background: red;
}
/* line 249, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .hue_bar .hue_picker.active {
  width: 18px;
  height: 18px;
}
/* line 257, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect {
  width: calc(100% - 20px);
  height: 200px;
  display: inline-block;
  margin: 0 8px 0 25px;
  background: red;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 270, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .sat_picker {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  top: 0;
  left: 100%;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 10;
  -webkit-transition: width .25s, height .25s;
  transition: width .25s, height .25s;
  background: red;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
/* line 285, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .sat_picker.active {
  width: 16px;
  height: 16px;
}
/* line 290, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .black, .color-container .color_picker_dialog .sat_rect .white {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 297, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .white {
  background: -webkit-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background: linear-gradient(to right, #ffffff, rgba(204, 154, 129, 0));
}
/* line 301, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .sat_rect .black {
  background: -webkit-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background: linear-gradient(to top, #000000, rgba(204, 154, 129, 0));
}
/* line 306, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
/* line 310, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom .color_preview {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background: red;
  display: inline-block;
}
/* line 317, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom input {
  margin-left: 10px;
  height: 28px;
  font-size: 20px;
  outline: none !important;
  width: 100px;
  border-radius: 2px;
  border: 0;
  padding: 0 4px;
}
/* line 327, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom .btn {
  right: 15px;
  bottom: 14px;
  position: absolute;
}
/* line 333, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom img {
  margin-left: 10px;
  height: 30px;
}
/* line 338, ../../../resources/assets/sass/_elements.scss */
.color-container .color_picker_dialog .bottom button:disabled,
.color-container .color_picker_dialog .bottom button[disabled] {
  opacity: 0.5;
}

/* line 16, ../../../resources/assets/sass/app.scss */
.hidden {
  display: none !important;
}

/* line 21, ../../../resources/assets/sass/app.scss */
html *, html *:before, html *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../../../resources/assets/sass/app.scss */
body {
  line-height: 130%;
  background: #f6f6f6;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

/* line 35, ../../../resources/assets/sass/app.scss */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  max-width: 1200px;
}
/* line 41, ../../../resources/assets/sass/app.scss */
.container .row {
  width: 100%;
  margin: 0 -15px;
  overflow: hidden;
}
/* line 45, ../../../resources/assets/sass/app.scss */
.container .row .col-md-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}

/* line 52, ../../../resources/assets/sass/app.scss */
.half {
  width: 50%;
  float: left;
}

/* line 57, ../../../resources/assets/sass/app.scss */
.add {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
}
/* line 61, ../../../resources/assets/sass/app.scss */
.add .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 68, ../../../resources/assets/sass/app.scss */
.add .leaderboard {
  height: 90px;
  width: 978px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}

/* line 78, ../../../resources/assets/sass/app.scss */
.btn {
  border: 0;
  color: #FFF;
  font-size: 18px;
  line-height: 110%;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  background: #ccbe97;
}

/* line 90, ../../../resources/assets/sass/app.scss */
.site header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  position: fixed;
  color: #FFF;
  height: 80px;
  background: #2f2f2f;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
/* line 101, ../../../resources/assets/sass/app.scss */
.site header .relative {
  padding: 0 20px;
  position: relative;
  height: 80px;
}
/* line 105, ../../../resources/assets/sass/app.scss */
.site header .relative .logo {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
/* line 109, ../../../resources/assets/sass/app.scss */
.site header .relative .logo a {
  height: 100%;
  color: #FFF;
  overflow: hidden;
  padding-top: 5px;
  display: inline-block;
  text-decoration: none;
}
/* line 116, ../../../resources/assets/sass/app.scss */
.site header .relative .logo a img {
  height: 55%;
  margin: 3.3% 10px 5.3%;
  vertical-align: middle;
  display: inline-block;
}
/* line 122, ../../../resources/assets/sass/app.scss */
.site header .relative .logo a h1 {
  color: #FFF;
  padding: 4px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}
/* line 137, ../../../resources/assets/sass/app.scss */
.site header .relative .about {
  float: right;
  color: #FFF;
  margin-top: 25px;
  margin-right: 330px;
  padding: 5px 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
/* line 146, ../../../resources/assets/sass/app.scss */
.site header .relative .about a {
  color: #FFF;
  display: block;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}
/* line 154, ../../../resources/assets/sass/app.scss */
.site header .relative .popular {
  float: right;
  color: #FFF;
  margin-top: 25px;
  margin-right: 330px;
  padding: 5px 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
/* line 163, ../../../resources/assets/sass/app.scss */
.site header .relative .popular span {
  display: block;
  font-size: 20px;
  position: relative;
}
/* line 167, ../../../resources/assets/sass/app.scss */
.site header .relative .popular span small {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
/* line 174, ../../../resources/assets/sass/app.scss */
.site header .relative .popular ul {
  display: none;
  padding: 10px 0;
  position: absolute;
}
/* line 178, ../../../resources/assets/sass/app.scss */
.site header .relative .popular ul li {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #2f2f2f;
}
/* line 182, ../../../resources/assets/sass/app.scss */
.site header .relative .popular ul li span {
  display: block;
  line-height: 130%;
  padding: 5px 10px;
}
/* line 187, ../../../resources/assets/sass/app.scss */
.site header .relative .popular ul li:hover {
  background: #000;
}
/* line 193, ../../../resources/assets/sass/app.scss */
.site header .relative .popular:hover ul {
  display: block;
}
/* line 200, ../../../resources/assets/sass/app.scss */
.site header .relative form {
  top: 15px;
  right: 20px;
  font-size: 0;
  position: absolute;
}
/* line 205, ../../../resources/assets/sass/app.scss */
.site header .relative form input, .site header .relative form button {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 0;
  color: #f6f6f6;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #f6f6f6;
}
/* line 216, ../../../resources/assets/sass/app.scss */
.site header .relative form input {
  outline: none;
  color: #f6f6f6;
}
/* line 219, ../../../resources/assets/sass/app.scss */
.site header .relative form input::-webkit-input-placeholder {
  color: #f6f6f6;
}
/* line 222, ../../../resources/assets/sass/app.scss */
.site header .relative form input::-moz-placeholder {
  color: #f6f6f6;
}
/* line 225, ../../../resources/assets/sass/app.scss */
.site header .relative form input:-ms-input-placeholder {
  color: #f6f6f6;
}
/* line 228, ../../../resources/assets/sass/app.scss */
.site header .relative form input:-moz-placeholder {
  color: #f6f6f6;
}
/* line 232, ../../../resources/assets/sass/app.scss */
.site header .relative form button {
  color: #FFF;
  background: #2f2f2f;
}
/* line 239, ../../../resources/assets/sass/app.scss */
.site .fake-header {
  width: 100%;
  height: 80px;
}
/* line 244, ../../../resources/assets/sass/app.scss */
.site .welcome {
  width: 100%;
  height: 600px;
  position: relative;
  background: url("/assets/images/welcome.jpg") center center no-repeat;
  background-size: cover;
}
/* line 250, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align {
  top: 50%;
  z-index: 2;
  position: relative;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFF;
}
/* line 256, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align h2 {
  font-size: 65px;
  line-height: 120%;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 40px;
}
/* line 262, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align p {
  font-size: 32px;
  line-height: 120%;
}
/* line 265, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align p.small {
  font-size: 18px;
}
/* line 271, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form {
  margin-top: 30px;
}
/* line 273, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input, .site .welcome .vertical-align form button {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 0;
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #FFF;
}
/* line 284, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input {
  outline: none;
  color: #FFF;
}
/* line 287, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFF;
}
/* line 290, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
/* line 293, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #FFF;
}
/* line 296, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form input:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}
/* line 300, ../../../resources/assets/sass/app.scss */
.site .welcome .vertical-align form button {
  color: #FFF;
}
/* line 306, ../../../resources/assets/sass/app.scss */
.site .welcome:before {
  content: '';
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background: #2f2f2f;
}
/* line 319, ../../../resources/assets/sass/app.scss */
.site .categories {
  padding: 50px 0 0;
}
/* line 321, ../../../resources/assets/sass/app.scss */
.site .categories h3 {
  font-size: 30px;
  line-height: 120%;
  font-family: "Quicksand", sans-serif;
}
/* line 327, ../../../resources/assets/sass/app.scss */
.site .categories ul {
  margin-top: 30px;
  overflow: hidden;
  border: 2px solid #ccbe97;
}
/* line 331, ../../../resources/assets/sass/app.scss */
.site .categories ul li {
  float: left;
  width: 33.33%;
  cursor: pointer;
}
/* line 335, ../../../resources/assets/sass/app.scss */
.site .categories ul li span {
  padding: 50px 0;
  display: block;
  font-size: 28px;
  text-align: center;
  position: relative;
  color: #ccbe97;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 344, ../../../resources/assets/sass/app.scss */
.site .categories ul li span:before {
  content: '';
  width: 0;
  left: 50%;
  height: 2px;
  bottom: 20px;
  position: absolute;
  background: #ccbe97;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: width 300ms ease-out;
  -o-transition: width 300ms ease-out;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
}
/* line 356, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) {
  background: #ccbe97;
}
/* line 358, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) span {
  color: #FFF;
}
/* line 360, ../../../resources/assets/sass/app.scss */
.site .categories ul li:nth-of-type(2n+1) span:before {
  background: #FFF;
}
/* line 367, ../../../resources/assets/sass/app.scss */
.site .categories ul li:hover span:before {
  width: 40%;
}

/* line 377, ../../../resources/assets/sass/app.scss */
.boxLoading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 50px;
  margin: auto;
  position: absolute;
}
/* line 386, ../../../resources/assets/sass/app.scss */
.boxLoading .textLoading {
  margin-top: 90px;
}
/* line 389, ../../../resources/assets/sass/app.scss */
.boxLoading .block {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
}
/* line 398, ../../../resources/assets/sass/app.scss */
.boxLoading .block:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
/* line 410, ../../../resources/assets/sass/app.scss */
.boxLoading .block:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #ccbe97;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

/* line 424, ../../../resources/assets/sass/app.scss */
.resume-search {
  padding: 80px 20px 40px;
}
/* line 428, ../../../resources/assets/sass/app.scss */
.resume-search p {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 24px;
}
/* line 433, ../../../resources/assets/sass/app.scss */
.resume-search p strong {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
/* line 437, ../../../resources/assets/sass/app.scss */
.resume-search p strong:before {
  content: '';
  left: 0;
  right: 0;
  height: 2px;
  bottom: -5px;
  position: absolute;
  background: #ccbe97;
}

/* line 450, ../../../resources/assets/sass/app.scss */
.result-list {
  font-size: 0;
}
/* line 452, ../../../resources/assets/sass/app.scss */
.result-list li {
  z-index: 1;
  width: 28%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  -moz-box-shadow: 0 0 20px transparent;
  -webkit-box-shadow: 0 0 20px transparent;
  box-shadow: 0 0 20px transparent;
  -moz-transition: box-shadow 150ms ease-in-out;
  -o-transition: box-shadow 150ms ease-in-out;
  -webkit-transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
}
/* line 11, ../../../resources/assets/sass/_elements.scss */
.result-list li a {
  text-decoration: none;
}
/* line 14, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote {
  top: 20px;
  left: 10px;
  z-index: 9;
  padding: 10px;
  cursor: pointer;
  position: absolute;
}
/* line 21, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .loading {
  display: none;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  animation: loadingI 2s linear infinite;
}
/* line 28, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .loading .bubble-1, .result-list li .vote .loading .bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #ccbe97;
  animation: bounce 2s ease-in-out infinite;
}
/* line 37, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .loading .bubble-2 {
  animation-delay: -1s;
  background: #2f2f2f;
}
@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* line 51, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote span {
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 58, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote .vote-icon {
  width: 40px;
  height: 35px;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("/assets/images/icons/love-normal.png") center center no-repeat;
  background-size: 100% auto;
}
/* line 69, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote.loadingVote .loading {
  display: inline-block;
}
/* line 72, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote.loadingVote .vote-icon {
  display: none;
}
/* line 77, ../../../resources/assets/sass/_elements.scss */
.result-list li .vote:hover .vote-icon, .result-list li .vote.active .vote-icon {
  background-image: url("/assets/images/icons/love-active.png");
}
/* line 82, ../../../resources/assets/sass/_elements.scss */
.result-list li .byebye {
  top: -100%;
  left: -100%;
  position: absolute;
}
/* line 87, ../../../resources/assets/sass/_elements.scss */
.result-list li .author {
  bottom: 20px;
  z-index: 2;
  left: -100%;
  position: absolute;
  -moz-transition: left 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
  transition: left 300ms ease-in-out;
}
/* line 93, ../../../resources/assets/sass/_elements.scss */
.result-list li .author p {
  color: #FFF;
  font-size: 1rem;
  padding: 12px 25px;
  background: #ccbe97;
}
/* line 100, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
  text-decoration: none;
  background: center center no-repeat;
  background-size: cover;
}
/* line 109, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo p {
  color: #FFF;
  bottom: 20px;
  right: -250px;
  display: inline;
  font-size: 1rem;
  max-width: 250px;
  text-align: right;
  position: absolute;
  padding: 12px 25px;
  background: #ccbe97;
  -moz-transition: right 300ms ease-in-out;
  -o-transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
  transition: right 300ms ease-in-out;
}
/* line 122, ../../../resources/assets/sass/_elements.scss */
.result-list li .photo p:before {
  content: '';
}
/* line 127, ../../../resources/assets/sass/_elements.scss */
.result-list li.amazon-iframe {
  width: 16%;
}
/* line 129, ../../../resources/assets/sass/_elements.scss */
.result-list li.amazon-iframe iframe {
  margin: 0 auto;
  display: block;
}
/* line 134, ../../../resources/assets/sass/_elements.scss */
.result-list li.add {
  width: 100%;
  display: block;
  padding: 40px 0;
}
/* line 139, ../../../resources/assets/sass/_elements.scss */
.result-list li.add.leaderboard .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 146, ../../../resources/assets/sass/_elements.scss */
.result-list li.add.leaderboard span {
  width: 768px;
  height: 90px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}
/* line 155, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover {
  z-index: 2;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
/* line 158, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover.add {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 161, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover.amazon-iframe {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 165, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover a p {
  right: 0;
}
/* line 169, ../../../resources/assets/sass/_elements.scss */
.result-list li:hover .author {
  left: 0;
}

/* line 461, ../../../resources/assets/sass/app.scss */
.color_photo_grid {
  font-size: 0;
  margin-top: 40px;
}
/* line 464, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single {
  z-index: 1;
  width: 28%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  -moz-box-shadow: 0 0 20px transparent;
  -webkit-box-shadow: 0 0 20px transparent;
  box-shadow: 0 0 20px transparent;
  -moz-transition: box-shadow 150ms ease-in-out;
  -o-transition: box-shadow 150ms ease-in-out;
  -webkit-transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
  width: 33.28%;
}
/* line 11, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single a {
  text-decoration: none;
}
/* line 14, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote {
  top: 20px;
  left: 10px;
  z-index: 9;
  padding: 10px;
  cursor: pointer;
  position: absolute;
}
/* line 21, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .loading {
  display: none;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  animation: loadingI 2s linear infinite;
}
/* line 28, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .loading .bubble-1, .color_photo_grid .single .vote .loading .bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #ccbe97;
  animation: bounce 2s ease-in-out infinite;
}
/* line 37, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .loading .bubble-2 {
  animation-delay: -1s;
  background: #2f2f2f;
}
@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* line 51, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote span {
  color: #FFF;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
/* line 58, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote .vote-icon {
  width: 40px;
  height: 35px;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("/assets/images/icons/love-normal.png") center center no-repeat;
  background-size: 100% auto;
}
/* line 69, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote.loadingVote .loading {
  display: inline-block;
}
/* line 72, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote.loadingVote .vote-icon {
  display: none;
}
/* line 77, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .vote:hover .vote-icon, .color_photo_grid .single .vote.active .vote-icon {
  background-image: url("/assets/images/icons/love-active.png");
}
/* line 82, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .byebye {
  top: -100%;
  left: -100%;
  position: absolute;
}
/* line 87, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .author {
  bottom: 20px;
  z-index: 2;
  left: -100%;
  position: absolute;
  -moz-transition: left 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
  transition: left 300ms ease-in-out;
}
/* line 93, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .author p {
  color: #FFF;
  font-size: 1rem;
  padding: 12px 25px;
  background: #ccbe97;
}
/* line 100, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
  text-decoration: none;
  background: center center no-repeat;
  background-size: cover;
}
/* line 109, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo p {
  color: #FFF;
  bottom: 20px;
  right: -250px;
  display: inline;
  font-size: 1rem;
  max-width: 250px;
  text-align: right;
  position: absolute;
  padding: 12px 25px;
  background: #ccbe97;
  -moz-transition: right 300ms ease-in-out;
  -o-transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
  transition: right 300ms ease-in-out;
}
/* line 122, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single .photo p:before {
  content: '';
}
/* line 127, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.amazon-iframe {
  width: 16%;
}
/* line 129, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.amazon-iframe iframe {
  margin: 0 auto;
  display: block;
}
/* line 134, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add {
  width: 100%;
  display: block;
  padding: 40px 0;
}
/* line 139, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add.leaderboard .center {
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  position: relative;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 146, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single.add.leaderboard span {
  width: 768px;
  height: 90px;
  display: block;
  margin: 0 auto;
  background: #2f2f2f;
}
/* line 155, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover {
  z-index: 2;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
/* line 158, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover.add {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 161, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover.amazon-iframe {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
/* line 165, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover a p {
  right: 0;
}
/* line 169, ../../../resources/assets/sass/_elements.scss */
.color_photo_grid .single:hover .author {
  left: 0;
}
/* line 467, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .author {
  bottom: 40px;
}
/* line 470, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .photo {
  padding-bottom: 90%;
}
/* line 472, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .photo p {
  bottom: 40px;
}
/* line 476, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block {
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  position: absolute;
}
/* line 482, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block.color_top {
  top: 0;
}
/* line 484, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block.color_top span {
  float: left;
  height: 20px;
  width: 12.5%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
}
/* line 494, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block.color_bottom {
  bottom: 0;
}
/* line 496, ../../../resources/assets/sass/app.scss */
.color_photo_grid .single .color_block.color_bottom span {
  color: #FFF;
  margin: 9px auto;
  display: block;
  font-size: 14px;
  text-align: center;
}

/* line 509, ../../../resources/assets/sass/app.scss */
.editorial .head {
  background: #FFF;
}
/* line 511, ../../../resources/assets/sass/app.scss */
.editorial .head h2 {
  margin: 0;
  font-size: 40px;
  padding: 100px 0 60px;
}
/* line 517, ../../../resources/assets/sass/app.scss */
.editorial .body {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 800px;
  padding: 50px 0;
}
/* line 523, ../../../resources/assets/sass/app.scss */
.editorial .body p {
  margin-bottom: 20px;
  line-height: 120%;
}
/* line 526, ../../../resources/assets/sass/app.scss */
.editorial .body p.title {
  padding: 0.4rem 0;
  font-size: 140%;
}

/* line 535, ../../../resources/assets/sass/app.scss */
.global-style {
  text-align: left;
}
/* line 537, ../../../resources/assets/sass/app.scss */
.global-style li {
  position: relative;
  padding: 4px 0 4px 15px;
}
/* line 540, ../../../resources/assets/sass/app.scss */
.global-style li:before {
  content: '';
  left: 0;
  top: 10px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50px;
  background: #2f2f2f;
}

/* line 553, ../../../resources/assets/sass/app.scss */
.tuto-photo {
  height: 72px;
  display: block;
  margin-top: 5px;
}

/* line 559, ../../../resources/assets/sass/app.scss */
.how-it-works {
  padding: 70px 0 30px;
  text-align: center;
}
/* line 562, ../../../resources/assets/sass/app.scss */
.how-it-works .square {
  width: 100%;
  padding: 20px;
  display: block;
  margin: 0 auto;
  max-width: 450px;
  border: 5px solid #ccbe97;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
/* line 571, ../../../resources/assets/sass/app.scss */
.how-it-works .title {
  font-size: 32px;
  line-height: 110%;
  padding: 10px 0 30px;
  text-transform: uppercase;
}
/* line 577, ../../../resources/assets/sass/app.scss */
.how-it-works .description {
  width: 100%;
  display: block;
  padding: 0 15px;
  max-width: 400px;
  margin: 0 auto;
}
/* line 583, ../../../resources/assets/sass/app.scss */
.how-it-works .description p {
  margin-bottom: 20px;
}

/* line 590, ../../../resources/assets/sass/app.scss */
.searchByColor {
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  -moz-transition: box-shadow 200ms ease-out;
  -o-transition: box-shadow 200ms ease-out;
  -webkit-transition: box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out;
}
/* line 595, ../../../resources/assets/sass/app.scss */
.searchByColor:hover {
  z-index: 5;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

/* line 601, ../../../resources/assets/sass/app.scss */
.moreSearch {
  margin-top: 20px;
}
/* line 603, ../../../resources/assets/sass/app.scss */
.moreSearch button {
  margin: 0 auto;
  display: block;
}

/* line 608, ../../../resources/assets/sass/app.scss */
.error-search {
  margin: 50px 0 20px;
  text-align: center;
}
/* line 611, ../../../resources/assets/sass/app.scss */
.error-search p {
  margin: 0;
  font-size: 18px;
  line-height: 110%;
}

/* line 618, ../../../resources/assets/sass/app.scss */
footer {
  color: #FFF;
  padding: 50px 0;
  background: #2f2f2f;
}
/* line 622, ../../../resources/assets/sass/app.scss */
footer a {
  color: #FFF;
}
/* line 625, ../../../resources/assets/sass/app.scss */
footer p {
  line-height: 150%;
}

/* line 631, ../../../resources/assets/sass/app.scss */
.site .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  color: #FFF;
  background: rgba(0, 0, 0, 0.9);
}
/* line 640, ../../../resources/assets/sass/app.scss */
.site .overlay .close {
  top: 40px;
  right: 40px;
  color: #FFF;
  padding: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 4rem;
  position: absolute;
}
/* line 650, ../../../resources/assets/sass/app.scss */
.site .overlay .content {
  width: 960px;
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #2f2f2f;
  position: absolute;
  background: #f6f6f6;
  overflow: hidden;
}
/* line 662, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta, .site .overlay .content .image {
  width: 50%;
  height: 100%;
  float: left;
}
/* line 667, ../../../resources/assets/sass/app.scss */
.site .overlay .content .image {
  background: center center no-repeat;
  background-size: cover;
}
/* line 671, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta {
  overflow: auto;
  padding: 20px;
}
/* line 674, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .title {
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 10px;
}
/* line 679, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .description {
  opacity: 0.8;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}
/* line 685, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta hr {
  border: 0;
  width: 50%;
  height: 1px;
}
/* line 690, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .table {
  margin-bottom: 20px;
}
/* line 692, ../../../resources/assets/sass/app.scss */
.site .overlay .content .meta .table span {
  font-weight: bold;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@media screen and (max-width: 991px) {
  /* line 733, ../../../resources/assets/sass/app.scss */
  .container .row {
    margin: 0;
  }
  /* line 735, ../../../resources/assets/sass/app.scss */
  .container .row .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 741, ../../../resources/assets/sass/app.scss */
  .site header .relative {
    padding: 0 15px;
  }
  /* line 745, ../../../resources/assets/sass/app.scss */
  .site header .relative .logo a img {
    margin-top: 12px;
  }
  /* line 748, ../../../resources/assets/sass/app.scss */
  .site header .relative .logo a h1 {
    display: none;
  }
  /* line 754, ../../../resources/assets/sass/app.scss */
  .site header .relative .popular, .site header .relative .about {
    display: none;
  }

  /* line 758, ../../../resources/assets/sass/app.scss */
  .site header .relative form {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  /* line 762, ../../../resources/assets/sass/app.scss */
  .site header .relative form input {
    width: 150px;
  }

  /* line 766, ../../../resources/assets/sass/app.scss */
  .site header .relative form input, .site header .relative form button {
    padding: 5px 10px;
  }

  /* line 769, ../../../resources/assets/sass/app.scss */
  .site .categories ul li span {
    font-size: 18px;
  }

  /* line 772, ../../../resources/assets/sass/app.scss */
  .site .welcome .vertical-align h2 {
    font-size: 50px;
    line-height: 110%;
  }

  /* line 776, ../../../resources/assets/sass/app.scss */
  .result-list li {
    width: 50%;
  }
  /* line 778, ../../../resources/assets/sass/app.scss */
  .result-list li.amazon-iframe {
    width: 100%;
    padding: 15px 0;
  }

  /* line 783, ../../../resources/assets/sass/app.scss */
  .resume-search {
    padding: 40px 15px;
  }
  /* line 785, ../../../resources/assets/sass/app.scss */
  .resume-search p {
    line-height: 120%;
  }

  /* line 790, ../../../resources/assets/sass/app.scss */
  .site .welcome {
    height: auto;
    padding: 20px 0;
  }
  /* line 793, ../../../resources/assets/sass/app.scss */
  .site .welcome .vertical-align {
    top: 0;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  /* line 796, ../../../resources/assets/sass/app.scss */
  .site .welcome .vertical-align h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  /* line 803, ../../../resources/assets/sass/app.scss */
  .site .overlay .content {
    width: 100%;
    height: 100%;
    max-width: 700px;
  }

  /* line 809, ../../../resources/assets/sass/app.scss */
  .how-it-works .square {
    padding: 15px;
  }

  /* line 813, ../../../resources/assets/sass/app.scss */
  .color_photo_grid .single {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 819, ../../../resources/assets/sass/app.scss */
  .result-list li {
    width: 100%;
  }

  /* line 823, ../../../resources/assets/sass/app.scss */
  footer .half {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 827, ../../../resources/assets/sass/app.scss */
  footer .half a {
    display: block;
  }
}
